<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProyectoDA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ProyectoDA.Properties.Settings>
            <setting name="sConexion" serializeAs="String">
                <value>DESKTOP-PM1UH5T;cotizacion;sa</value>
            </setting>
            <setting name="sPassConexion" serializeAs="String">
                <value>Abc123456</value>
            </setting>
        </ProyectoDA.Properties.Settings>
    </applicationSettings>
</configuration>